<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495822243559-rg8364pn9qh272qm7vu3n5ph4t4cv99v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495822243559-rg8364pn9qh272qm7vu3n5ph4t4cv99v</string>
	<key>API_KEY</key>
	<string>AIzaSyDsAI02ZJPQdpQ8cfaPPAKVXPhn-7WRmro</string>
	<key>GCM_SENDER_ID</key>
	<string>495822243559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamEmo.ofme</string>
	<key>PROJECT_ID</key>
	<string>ofme-b0996</string>
	<key>STORAGE_BUCKET</key>
	<string>ofme-b0996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495822243559:ios:73ce274fd375601d7dc442</string>
</dict>
</plist>